.gm-style-iw {
    width: 160px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #44433e;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    /*border-radius: 2px 2px 10px 10px;*/

}

.iw-prev-img {
    width: 100%;
    margin-bottom: -4px;
}

.iw-description-container {
    /*border: 1px solid;*/
    padding: 4px 8px;
    background-color: #000000;

}


.iw-day-place-wrapper{

    padding: 2px;
    border-bottom: 2px solid #2b3031;
    text-align: right;
}
.iw-day {
    float: left;
    /*border: 1px solid;*/
    height: 18px;
    width: 40px;
    font-size: 9px;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
    vertical-align: middle
}
.iw-place {
    /*float: left;*/
    /*border: 1px solid;*/
    /*margin-left: 45px;*/
    height: 18px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    /*padding-left: 10px;*/
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle

}


.iw-view-gallery-wrapper {
    /*border: 1px solid;*/
    padding: 5px;

}
.iw-view-gallery-txt {
    /*border: 1px solid;*/
    width: 75%;
    float: left;
    padding: 5px;
    font-size: 9px;
    font-weight: 400;
    color: white;
}
.iw-view-gallery-btn {
    /*border: 1px solid;*/
    width:15%;
    cursor: pointer;
    /*margin: 0 5px 5px 10px;*/
}
.iw-view-gallery-btn:hover {
    opacity: 0.5;
    /*border: 1px solid white;*/
}