
.gm-style-iw {
    width: 160px !important;
    top: 16px !important;
    left: 0px !important;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.51);
    border: 2px solid black;
    border-radius: 5%;
    pointer-events: all;
}

#iw-content img {
    border-radius: 5%;
    border-bottom: 2px solid;
}
#iw-container .iw-title,
#iw-container .iw-subTitle,
.iw-view-gallery-btn,
.infoWindowButtonClose{
    text-align: center;
    font-family: 'Indie Flower', regular;
    color: black;
    pointer-events: all;
}
#iw-container .iw-title{
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 900;
}
#iw-container .iw-subTitle {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.5em;
}

.iw-prev-img {

    max-height: 100%;
    width: 100%;

}

.infoWindowButtonClose:after{
    content: "x";
}

.iw-view-gallery-btn {
    background-color: white;
    border: 2px solid;
    /*color: white;*/
    /*padding: 6px 22px;*/
    width: 70%;
    margin: 10px 15%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
}
.iw-view-gallery-btn:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
}
.gm-style div div div div div div div div div{
    /*background-color: #262216 !important;*/
}