body {
    /*padding: 30px 0;*/
    position: relative;
    font-family: Verdana, sans-serif;
    margin: 0;
}

html, body {
    height: 98%;
    margin: 10px;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.slider {
    width: 100%;
    margin: 0;
}

.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-current {
    opacity: 1;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    border: 1px solid;
    height: 98%;
}

/* Optional: Makes the sample page fill the window. */

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 16%;
}

/* The Modal (background) */
.modal {
    /*display: none;*/
    visibility: hidden;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto; !*change to hidden*!*/
    background-color: rgba(0, 0, 0, 0.95);
}

/* Modal Content */
.modal-content {

    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 0;
    width: 85%;
    height: 92%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 1vh;
    right: 3vh;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(155, 155, 155, 0.8);
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
    height: 92%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50vh;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(155, 155, 155, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 1.5vh;
    left: 3vh;
}

.mySlides > img {

    position: fixed;
    top: 50%;
    left: 50%;

    max-width: 85%;
    max-height: 90%;

    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}



/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 8px;
    color: white;
}

/*img.demo {*/
    /*opacity: 0.6;*/
/*}*/

.active,
.demo:hover {
    /*opacity: 0.7;*/
    border: 1px solid white;

}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#loadingDiv {
    /*display:    none;*/
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

/*!* When the body has the loading class, we turn*/
   /*the scrollbar off with overflow:hidden *!*/
/*body.loading .loadingModal {*/
    /*overflow: hidden;*/
/*}*/

/*!* Anytime the body has the loading class, our*/
   /*modal element will be visible *!*/
/*body.loading .loadingModal {*/
    /*display: block;*/
/*}*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}