<div class="mySlides">
    <div class="numbertext"><%=imgCount%>/<%=imgPathArray.length%></div>
    <img src="<%=imgPath%>"/> 
    <!-- <div class="caption-container"> 
        <p>Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor; hodor hodor, hodor, hodor hodor. Hodor! Hodor hodor, hodor... Hodor hodor hodor; hodor hodor hodor hodor! Hodor hodor... Hodor hodor hodor hodor - hodor? Hodor hodor hodor hodor hodor hodor. </p> 
    </div> 
    <section class="regular slider"></section>  -->
</div>