
<div class="row">
    <div class="col-4 mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text waypointRowNumber"></div>
            <input type="text" class="form-control" name="wayPointName" placeholder="Wegpunkt" value="<%=waypoint.name%>">
        </div>
    </div>
    <div class="col-2 mb-2 pl-0">
        <input type="date" class="form-control" name="date" placeholder="Datum" value="<%=waypoint.arrivalDate%>">
    </div>
    <div class="col-2 mb-2 pl-0">
        <input type="text" class="form-control" name="latitude" placeholder="Latitude" value="<%=waypoint.latitude%>">
    </div>

    <div class="col-2 mb-2 pl-0">
        <input type="text" class="form-control" name="longitude" placeholder="Longitude" value="<%=waypoint.longitude%>">
    </div>

    <div class="col-2 mb-2 pl-0">
        <div class="input-group-append">
            <select class="custom-select" id="inputGroupSelect01" name="artOfTransportation" value="2">
                <option value="">-</option>
                <option value="TRAIN">Zug</option>
                <option value="CAR">Auto</option>
                <option value="WALK">Gelaufen</option>
                <option value="PLANE">Flugzeug</option>
            </select>
            <button onclick="removeWaypointRow(this)" type="button" class="ml-2 btn btn-primary">-</button>
        </div>

    </div>
</div>