<div class="row">

    <div class="col-4 mb-2 ">
        <div class="input-group-prepend">
            <div class="input-group-text waypointRowNumber">1</div>
            <input type="text" class="form-control" name="wayPointName" placeholder="Wegpunkt">
        </div>
    </div>
    <div class="col-2 mb-2">
        <input type="date" class="form-control" name="date" placeholder="Datum">
    </div>
    <div class="col-2 mb-2">
        <input type="text" class="form-control" name="latitude" placeholder="Latitude">
    </div>

    <div class="col-2 mb-2">
        <input type="text" class="form-control" name="longitude" placeholder="Longitude">
    </div>

    <div class="col-2 mb-2">
        <select class="custom-select" id="inputGroupSelect01" name="artOfTransportation" value="">
            <option value="0">-</option>
            <option value="1">Zug</option>
            <option value="2">Auto</option>
            <option value="3">Gelaufen</option>
            <option value="4">Flugzeug</option>
        </select>
    </div>
</div>