<div class="container-fluid p-3 h-100 d-flex flex-column">
    <div class="row pb-3">
        <div class="col">
            <a href="/" class="btn btn-sm btn-primary">Back to overview</a>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col">
            <div id="map"></div>
        </div>
    </div>
</div> 

<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
<script src="/js/initMap.js"></script>
<script src="/js/lightbox.js"></script>